// ------------------------------------------------
// Agency Template: CSS > Widgets > Contact Form
// ------------------------------------------------


.contactform {
    background-color: @color__form--background;
    margin-top: 100px;
    &:before {
        content: "";
        display: block;
    background: -webkit-linear-gradient(@color__form--background, @color__form--background);
    background: -o-linear-gradient(@color__form--background, @color__form--background);
    background: linear-gradient(@color__form--background, @color__form--background);
        -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
        transform: skewY(-2deg);
        height: 80px;
        background-color: @color__form--background;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 14;
        margin-top: -35px;
    }


    // Fieldset
    // ------------------------------
    
    
    .fieldset {
    	position: relative;
    }
    
    
    
    
    // Form Group
    // ------------------------------
    
    
    .form-group {
    	margin-bottom: 26px;
    	@media @bp-global-small {
    		margin-bottom: 16px;
    	}
    
    
    	&:last-of-type {
    		margin-bottom: 0;
    	}
    
    }
    
    
    
    
    // Form Body
    // ------------------------------
    
    
    .form-body {
    	margin: 0 auto;
    	background-color: @color__form--background;
    	padding: 60px 40px 40px 40px;
    
        @media @bp-global-small {
            padding: 60px 20px 20px 20px;
            width: 100%;
        }
    }
    
    
    
    
    // Legend
    // ------------------------------
    
    
    .legend {
    	position: absolute;
    	top: 0;
    	color: @color__form-legend--text;
    	font-family: @font__h2--font-family;
    	font-size: @font__h2--font-size;
    	line-height: @font__h2--line-height;
        width: 100%;
        padding: 15px 40px 0px 40px;
        z-index: 9999;
        @media @bp-global-small {
            font-size: bkscale(@font__h3--font-size, 0.9);
            line-height: bkscale(@font__h3--line-height, 0.9);
        }
        @media @mobile {
            padding: 0 20px 0 20px;
        }
    }
    
    
    
    
    // Label
    // ------------------------------
    
    
    .label--message {
    	 @media @mobile {
            font-size: bkscale(@font__p--font-size, 0.9);
        }
    }
    
    
    
    
    // Input and Textarea
    // ------------------------------
    
    
    .input,
    .textarea {
        background-color: #fff;
        padding: 10px;
        &:focus {
            border-color: #DEDDDD;
            box-shadow: none;
        }
    }
    
    
    // Button
    // ---------------------
    
    .button {
        background-color: darken(@color__button--background, 5%);
    }

}




// ---------------------------------
// Advanced Form
// ---------------------------------

.widget__advancedcontactform {
    background-color: @color__form--background;
    margin-top: 100px;

    @media @bp-global-small {
        margin-top: 80px;
    }

    &:before {
        content: "";
        display: block;
        background: -webkit-linear-gradient(@color__form--background, @color__form--background);
        background: -o-linear-gradient(@color__form--background, @color__form--background);
        background: linear-gradient(@color__form--background, @color__form--background);
        -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
        transform: skewY(-2deg);
        height: 80px;
        background-color: @color__form--background;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 14;
        margin-top: -40px;
    }

    .legend {
        position: absolute;
        top: 0;
        color: @color__form-legend--text;
        background-color: @color__form-legend--background;
        font-family: @font__h2--font-family;
        font-size: @font__h2--font-size;
        line-height: @font__h2--line-height;
        width: 100%;
        z-index: 9999;
        padding: 15px 40px 0px 40px;
        @media @bp-global-small {
            padding: 0px 20px 0px 20px;
        }
    }

    .form-body {
        padding: 80px 40px 40px 40px;
        @media @bp-global-small {
            padding: 60px 20px 40px 20px;
        }
    }

    .button {
        background-color: darken(@color__button--background, 5%);
        padding: 10px 26px;
        margin: 0;
    }

    .select-wrap {
        background-color: white;
    }

}




// ---------------------------------
// Columns variations
// ---------------------------------


.responsivecolumns {

    .contactform__legend,
    .widget__signupform .legend,
    .widget__blogsearch .legend {
        padding: 0px 20px 0px 20px;
    }

	// Form Body
	.contactform__form-body {
		float: none;
		width: auto;
		padding: 0;
        width: 100%;
        padding: 50px 20px 20px 20px;
	}

	.contactform__form-group {
		margin-bottom: 16px;
	}


    // 4 columns
    // ------------------------------

    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth,
    .columns-three-left,
    .columns-three-right,
    .columns-three-middle {
    
        // Forms

        .contactform {
            margin-top: 60px;
        }

        .advancedcontactform__legend {
            width: 100%!important;
            font-size: 20px;
        }

        .advancedcontactform__form-group {
        }
    }
}

